// main {
//   height: 3000px;
// }

.about {
  height: 300vh;
  background: $offBlack;
  min-height: 100vh;
  position: relative;
  &__scroll {
    position: absolute;
    top: 50%;
    width: 1px;
    height: 1px;
  }
  &__container {
    width: 100%;
    top: 0;
    position: sticky;
    overflow: hidden;
  }
  .wrapper {
    max-width: 1080px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // overflow-x: hidden;
  }
  &__avatar {
    position: relative;
    width: 45%;
    align-self: flex-end;
    color: $steelPink;
    z-index:1;
  }
  &__image {
    position: relative;
    animation: 1s about__image 1s ease-out forwards;
    animation-play-state: paused;
    animation-delay: calc(var(--aboutScroll) * -.8s);
    transform: rotateX(90deg);
    z-index: 0;
  }
  &__span {
    font-family: $bowlby;
    font-size: clamp(1rem, 18vw, 8rem);
    position: absolute;
    z-index: 1;
    &__A {
      top: -25%;
      left: -15%;
      animation: 1s about__A ease-out forwards;
      transform: scale(0);
      animation-play-state: paused;
      animation-delay: calc(var(--aboutScroll) * -.8s);
    }
    &__B {
      --translateX: 200%;
      top: -9%;
      right: -7%;
      transform: translateX(var(--translateX));
      animation: 1s about__B ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--aboutScroll) * -.8s);
    }
    &__O {
      --translateX: -400%;
      top: 25%;
      left: -18%;
      transform: translateX(var(--translateX));
      animation: 1s about__O ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--aboutScroll) * -.8s);
    }
    &__U {
      right: -15%;
      bottom: 10%;
      opacity: 0;
      animation: 1s about__U cubic-bezier(.55,.46,0,1.37) forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--aboutScroll) * -.8s);
    }
    &__T {
      transform: scale(0);
      bottom: -27%;
      left: 40%;
      animation: 1s about__T ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--aboutScroll) * -.8s);
    }
  }
  &__background {
    position: absolute;
    inset: 0;
    background-color: #3C2189;
    animation: 1s about__background ease-in-out forwards;
    animation-play-state: paused;
    animation-delay: calc(var(--aboutScroll) * -1s);  
  }

  &__text {
    margin: 30px 0;
    text-align: left;
    width: 65%;
    opacity: 0;
    z-index: 1;
    animation: 1s about__text ease-out forwards;
    animation-play-state: paused;
    animation-delay: calc(var(--aboutScroll) * -1s);
  }
}
