.contact {
  position: relative;
  height: 250vh;
  background-color: $sandyYellow;
  text-align: center;
  animation: 1s fade-to-black ease-out forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--contactScroll) * -1s);
  &__scroll {
    position: absolute;
    bottom: 0;
    width: 1px;
    height: 1px;
  }
  &__container {
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
  }
  .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
  }
  &__heading {
    font-family: $bowlby;
    font-size: clamp(2rem, 11vw, 5rem);
    color: $sandyYellow;
    margin-bottom: 2rem;
  }
  &__sub-heading {
    transform: translate(-50vw);
    opacity: 0;
    animation: 1s contact__sub-heading ease-out forwards;
    animation-play-state: paused;
    animation-delay: calc(var(--contactScroll) * -1s);
  }
  &__letter {
    margin: -.3rem;
    display: inline-block;
    &__C1 {
      transform: translateX(-50vw);
      animation: 1s contact__letter__C1 ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--contactScroll) * -1s);
    }
    &__O {
      transform: scale(0) translateY(-6vw);
      animation: 1s contact__letter__O ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--contactScroll) * -1s);
    }
    &__N {
      transform: translateY(-60vh);
      opacity: 0;
      animation: 1s contact__letter__N ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--contactScroll) * -1s);
    }
    &__T1 {
      transform: translateY(-30vh);
      opacity: 0;
      animation: 1s contact__letter__T1 ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--contactScroll) * -1s);
    }
    &__A {
      transform-origin: top;
      transform: rotateX(90deg);
      opacity: 0;
      animation: 1s contact__letter__A ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--contactScroll) * -1s);
    }
    &__C2 {
      transform: translateY(25vh);
      opacity: 0;
      animation: 1s contact__letter__C2 ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--contactScroll) * -1s);
    }
    &__T2 {
      opacity: 0;
      transform: translateY(3vw);
      animation: 1s contact__letter__T2 ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--contactScroll) * -1s);
    }
  }
  &__sub-heading {
    margin-bottom: 2rem;
  }
  &__body {
    margin-top: 1rem;
    display: flex;
    gap: 10vw;
    justify-content: center;
    align-items: center;
  }
  &__img {
    flex-basis: 40%;
    transform: skewX(20deg) translateX(50vw);
    transform-origin: bottom center;
    animation: 1s mailbox ease-out forwards;
    animation-play-state: paused;
    animation-delay: calc(var(--contactScroll) * -1s);
  }
  &__info {
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    transform: translateY(40vh);
    opacity: 0;
    animation: 1s contact__info ease-out forwards;
    animation-play-state: paused;
    animation-delay: calc(var(--contactScroll) * -1s);
    &__link {
      flex-basis: 40%;
      text-align: center;
      text-decoration: none;
      transition: transform .3s ease-out, color .3s ease-out;
      i {
        font-size: clamp(1rem, 6vw, 3rem);
        margin-bottom: 1rem;
      }
      &:hover, &:focus {
        transform: scale(1.1);
        color: $sandyYellow;
      }
    }
  }
}

@keyframes fade-to-black {
  0% {
    background-color: $sandyYellow;
  }
  20%, 100% {
    background-color: $offBlack;
  }
}

@keyframes contact__letter__C1 {
  0% {
    transform: translate(-50vw);
    opacity: 0;
  }
  10%, 100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes contact__letter__O {
  0%, 10% {
    transform: scale(0) translateY(-6vw);
  }
  20%, 100% {
    transform: scale(1) translateY(-6vw);
  }
}
@keyframes contact__letter__N {
  0%, 20% {
    transform: translateY(70vh);
    opacity: 0;
  }
  30%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-3vw);
  }
}
@keyframes contact__letter__T1 {
  0%, 30% {
    transform: scale(0) translateY(-50vh);
    opacity: 0;
  }
  40%, 100% {
    transform: scale(1) translateY(-7vw);
    opacity: 1;
  }
}
@keyframes contact__letter__A {
  0%, 40% {
    transform: perspective(500px) rotateX(90deg);
    opacity: 0;
  }
  50%, 100% {
    transform: perspective(500px) rotateX(0deg) translateY(1vw);
    opacity: 1;
  }
}
@keyframes contact__letter__C2 {
  0%, 50% {
    transform: translateY(25vh);
    opacity: 0;
  }
  60%, 100% {
    transform: translateY(-4vw);
    opacity: 1;
  }
}
@keyframes contact__letter__T2 {
  0%, 60% {
    opacity: 0;
    transform: translateY(3vw) rotateY(90deg);
  }
  70%, 100% {
    opacity: 1;
    transform: translateY(3vw) rotateY(0deg);
  }
}

@keyframes contact__sub-heading {
  0%, 50% {
    transform: translateX(-10vw);
    opacity: 0;
  }
  80%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contact__info {
  0%, 50% {
    transform: translateY(10vh);
    opacity: 0;
  }
  80%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes mailbox {
  0%, 40% {
    transform: skewX(20deg) translateX(50vw);
  }
  60% {
    transform: skewX(20deg) translateX(0);
  }
  65%, 70% {
    transform: skewX(30deg) translateX(0);
  }
  80%, 100% {
    transform: translateX(0);
  }
}