.contact {
  position: relative;
  height: 250vh;
  background-color: $offBlack;
  text-align: center;
  &__scroll {
    position: absolute;
    bottom: 0;
    width: 1px;
    height: 1px;
  }
  &__container {
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
  }
  .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    width: 95%;
    margin: 0 auto;
  }
  &__heading {
    font-family: $bowlby;
    font-size: clamp(2rem, 11vw, 5rem);
    color: $sandyYellow;
    margin-bottom: 2rem;
  }
  &__sub-heading {
    transform: translate(-50vw);
    opacity: 0;
    animation: 1s contact__sub-heading ease-out forwards;
    animation-play-state: paused;
    animation-delay: calc(var(--contactScroll) * -1s);
  }
  &__letter {
    margin: -0.3rem;
    display: inline-block;
    &__C1 {
      transform: translateX(-50vw);
      animation: 1s contact__letter__C1 ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--contactScroll) * -1s);
    }
    &__O {
      transform: scale(0) translateY(-6vw);
      animation: 1s contact__letter__O ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--contactScroll) * -1s);
    }
    &__N {
      transform: translateY(-60vh);
      opacity: 0;
      animation: 1s contact__letter__N ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--contactScroll) * -1s);
    }
    &__T1 {
      transform: translateY(-30vh);
      opacity: 0;
      animation: 1s contact__letter__T1 ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--contactScroll) * -1s);
    }
    &__A {
      transform-origin: top;
      transform: rotateX(90deg);
      opacity: 0;
      animation: 1s contact__letter__A ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--contactScroll) * -1s);
    }
    &__C2 {
      transform: translateY(25vh);
      opacity: 0;
      animation: 1s contact__letter__C2 ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--contactScroll) * -1s);
    }
    &__T2 {
      opacity: 0;
      transform: translateY(3vw);
      animation: 1s contact__letter__T2 ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--contactScroll) * -1s);
    }
  }
  &__sub-heading {
    margin-bottom: 1rem;
  }
  &__body {
    margin-top: 1rem;
    display: flex;
    gap: 10vw;
    justify-content: center;
    align-items: center;
  }
  &__img {
    flex-basis: 40%;
    transform: skewX(20deg) translateX(70vw);
    transform-origin: bottom center;
    animation: 1s mailbox ease-out forwards;
    animation-play-state: paused;
    animation-delay: calc(var(--contactScroll) * -1s);
  }
  &__info {
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    transform: translateY(40vh);
    opacity: 0;
    animation: 1s contact__info ease-out forwards;
    animation-play-state: paused;
    animation-delay: calc(var(--contactScroll) * -1s);
    &__link {
      flex-basis: 40%;
      text-align: center;
      text-decoration: none;
      transition: transform 0.3s ease-out, color 0.3s ease-out;
      i {
        font-size: clamp(1rem, 6vw, 3rem);
        margin-bottom: min(3vw, 1rem);
        transition: 0.3s transform ease-out;
        transform-origin: bottom left;
      }
      &:hover,
      &:focus {
        transform: scale(1.1);
        color: $sandyYellow;
        i {
          transform: rotate(-7deg);
        }
      }
    }
  }
}
.dummy__mailbox__1 {
  position: absolute;
  z-index: 0;
  width: 10vmin;
  top: 0;
  left: 130%;
  transform: skewX(20deg);
  animation: 1s dummy__mailbox__1 ease-out forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--toolsScroll) * -0.45s);
}
.dummy__mailbox__2 {
  position: absolute;
  z-index: -1;
  top: 20%;
  left: -50%;
  width: 30vmin;
  transform: skewX(-20deg);
  animation: 1s dummy__mailbox__2 ease-out forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--contactScroll) * -1s);
  &::before {
    content: '';
    position: absolute;
    z-index: -99;
    top: -20vh;
    left: 37%;
    width: 170vmax;
    height: 100vh;
    background-color: $sandyYellow;
    animation: 1s mailbox__string ease-out forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--contactScroll) * -1s);
  }
}
