header {
  background-image: linear-gradient(#66136C, #3C2189);
  min-height: 101vh;
  display: flex;
  align-items: center;
  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 101vh;
    width: 70%;
    max-width: 800px;
  }
}

.nav {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-15rem);
    transition: transform 0.4s ease-out;
    background-color: $offBlack;
    padding: 1rem 0;
    border-radius: 0 0 20px 20px;
    z-index: 98;
    &__item {
      transition: transform .3s ease-out;
      margin: .3rem;
      &:hover, &:focus {
        transform: translateY(.2rem);
      }
    }
    &__link {
      transition: color .3s ease-out;
      padding: .3rem;
      &:hover, &:focus {
        color: $lightLilac;
      }
    }
    &--visible {
      transform: translateY(-3rem) translateZ(1px);
    }
  }
}

.burger {
  &__menu {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    z-index: 99;
    transform: translateZ(2px);
  }
  &__container {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    display: block;
    cursor: pointer;
    position: relative;
  }
  &__top, &__mid, &__btm {
    width: 30px;
    height: 3px;
    background-color: rgba(255,255,255,1);
    margin: 6px 0;
    transition: transform 0.4s cubic-bezier(.4,.18,.82,1.27);
    border-radius: 10px;
    transform-origin: center;
  }
}

.burger__menu {
  &--x {
    .burger__top {
      animation: burger__top--change .6s ease-out forwards;
    }
    .burger__mid {
      animation: burger__mid--change .6s ease-out forwards;
    }
    .burger__btm {
      animation: burger__btm--change .6s ease-out forwards;
    }
  }
  &--burger {
    .burger__top {
      animation: burger__top--revert .6s ease-out forwards;
    }
    .burger__mid {
      animation: burger__mid--revert .3s ease-out forwards;
    }
    .burger__btm {
      animation: burger__btm--revert .6s ease-out forwards;
    }
  }
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transform: translateZ(-1px);
  &__avatar {
    position: relative;
    flex-basis: 70%;
    margin-bottom: 8vw;
    border-radius: 50%;
  }
  &__image {
    animation: .7s header-grow .5s ease-out forwards;
    opacity: 0;
  }
  &__letter {
    font-family: $bowlby;
    font-size: clamp(2.5rem, 21vw, 8rem);
    line-height: 1;
    color: $steelPink;
    position: absolute;
    z-index: 5;
    &__A1 {
      display: block;
      --x: 35deg;
      --y: -10deg;
      transform: scale(0, 0);
      left: -5%;
      animation: .5s header-grow 1s ease-out forwards;
    }
    &__D {
      --x: -20deg;
      --y: -30deg;
      right: -10%;
      top: 20%;
      transform: scale(0, 0);
      animation: .5s header-grow 1.2s ease-out forwards;
    }
    &__A2 {
      --x: -35deg;
      --y: -20deg;
      bottom: 10%;
      left: 5%;
      transform: scale(0, 0);
      animation: .5s header-grow 1.4s ease-out forwards;
    }
    &__M {
      --x: 30deg;
      --y: -20deg;
      bottom: -10%;
      right: 10%;
      transform: scale(0, 0);
      animation: .5s header-grow 1.6s ease-out forwards;
    }
  }
  &__text {
    margin-top: 1rem;
    flex-basis: 30%;
    color: white;
    text-align: center;
    h1 {
      opacity: 0;
      animation: 1s slide-right 2s ease-out forwards;
    }
    p {
      opacity: 0;
      margin-top: clamp(.5rem, 1.5vw, 1.5rem);
      color: $lightLilac;
      animation: .7s slide-up 2.3s ease-out forwards;
    }
    span {
      display: unset;
    }
  }
}

.fa-circle-chevron-down {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: $steelPink;
  font-size: 2rem;
  animation: 1s chevron-bounce ease-in-out alternate infinite;
}