header {
  background-image: linear-gradient(#66136C, #3C2189);
  min-height: 100vh;
  display: flex;
  align-items: center;
  .wrapper {
    width: 70%;
    max-width: 800px;
  }
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  &__avatar {
    position: relative;
    flex-basis: 70%;
    margin-bottom: 8vw;
    border-radius: 50%;
  }
  &__image {
    animation: .7s grow .5s ease-out forwards;
    opacity: 0;
  }
  &__name {
    font-family: $bowlby;
    font-size: clamp(2.5rem, 21vw, 8rem);
    line-height: 1;
    color: $steelPink;
    position: absolute;
    z-index: 1;
    // text-shadow: 3px 3px #E450EE;
    &__A1 {
      --x: 35deg;
      --y: -10deg;
      transform: scale(0);
      left: -5%;
      animation: .5s grow 1s ease-out forwards;
      text-shadow: 1px 1px $lavenderMagenta,
                  2px 2px $lavenderMagenta,
                  3px 3px $lavenderMagenta,
                  4px 4px $lavenderMagenta,
                  5px 5px $lavenderMagenta,
                  6px 6px $lavenderMagenta,
                  7px 7px $lavenderMagenta;
    }
    &__D {
      --x: -20deg;
      --y: -30deg;
      right: -10%;
      top: 20%;
      transform: scale(0);
      animation: .5s grow 1.2s ease-out forwards;
      text-shadow: -1px 1px $lavenderMagenta,
                  -2px 2px $lavenderMagenta,
                  -3px 3px $lavenderMagenta,
                  -4px 4px $lavenderMagenta,
                  -5px 5px $lavenderMagenta,
                  -6px 6px $lavenderMagenta,
                  -7px 7px $lavenderMagenta;
    }
    &__A2 {
      --x: -35deg;
      --y: -20deg;
      bottom: 10%;
      left: 5%;
      transform: scale(0);
      animation: .5s grow 1.4s ease-out forwards;
      text-shadow: 1px -1px $lavenderMagenta,
                2px -2px $lavenderMagenta,
                3px -3px $lavenderMagenta,
                4px -4px $lavenderMagenta,
                5px -5px $lavenderMagenta,
                6px -6px $lavenderMagenta,
                7px -7px $lavenderMagenta;
    }
    &__M {
      --x: 30deg;
      --y: -20deg;
      bottom: -10%;
      right: 10%;
      transform: scale(0, 0);
      animation: .5s grow 1.6s ease-out forwards;
      text-shadow: -1px -1px $lavenderMagenta,
                  -2px -2px $lavenderMagenta,
                  -3px -3px $lavenderMagenta,
                  -4px -4px $lavenderMagenta,
                  -5px -5px $lavenderMagenta,
                  -6px -6px $lavenderMagenta,
                  -7px -7px $lavenderMagenta;
    }
  }
  &__text {
    margin-top: 1rem;
    flex-basis: 30%;
    color: white;
    text-align: center;
    letter-spacing: -2px;
    h1 {
      opacity: 0;
      animation: 1s slide-right 2s ease-out forwards;
    }
    p {
      opacity: 0;
      margin-top: clamp(.5rem, 1.5vw, 1.5rem);
      color: #F5C4F9;
      animation: .7s slide-up 2.3s ease-out forwards;
    }
    span {
      display: unset;
    }
  }
}

// .intro__name.slide__A {
//   animation: 1s a-up linear forwards;
//   animation-iteration-count: 1;
//   animation-play-state: paused;
//   animation-delay: calc(var(--scroll) * -1s);
// }