header {
  background-image: linear-gradient(#66136C, #3C2189);
  min-height: 101vh;
  display: flex;
  align-items: center;
  .wrapper {
    width: 70%;
    max-width: 800px;
  }
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  &__avatar {
    position: relative;
    flex-basis: 70%;
    margin-bottom: 8vw;
    border-radius: 50%;
  }
  &__image {
    animation: .7s grow .5s ease-out forwards;
    opacity: 0;
  }
  &__name {
    font-family: $bowlby;
    font-size: clamp(2.5rem, 21vw, 8rem);
    line-height: 1;
    color: $steelPink;
    position: absolute;
    z-index: 5;
    &__A1 {
      display: block;
      --x: 35deg;
      --y: -10deg;
      transform: scale(0, 0);
      left: -5%;
      animation: .5s grow 1s ease-out forwards;
    }
    &__D {
      --x: -20deg;
      --y: -30deg;
      right: -10%;
      top: 20%;
      transform: scale(0, 0);
      animation: .5s grow 1.2s ease-out forwards;
    }
    &__A2 {
      --x: -35deg;
      --y: -20deg;
      bottom: 10%;
      left: 5%;
      transform: scale(0, 0);
      animation: .5s grow 1.4s ease-out forwards;
    }
    &__M {
      --x: 30deg;
      --y: -20deg;
      bottom: -10%;
      right: 10%;
      transform: scale(0, 0);
      animation: .5s grow 1.6s ease-out forwards;
    }
  }
  &__text {
    margin-top: 1rem;
    flex-basis: 30%;
    color: white;
    text-align: center;
    h1 {
      opacity: 0;
      animation: 1s slide-right 2s ease-out forwards;
    }
    p {
      opacity: 0;
      margin-top: clamp(.5rem, 1.5vw, 1.5rem);
      color: #F5C4F9;
      animation: .7s slide-up 2.3s ease-out forwards;
    }
    span {
      display: unset;
    }
  }
}

.fa-circle-chevron-down {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: $steelPink;
  font-size: 2rem;
  animation: 1s chevron-bounce ease-in-out alternate infinite;
}

@keyframes chevron-bounce {
  100% {
    transform: translate3d(-20px, -10px, 0);
  }
}