.mailbox {
  position: relative;
  background-color: transparent;
  font-size: clamp(3px, .7vmax, 10px);
  width: 30em;
  aspect-ratio: 43/41;
}

.mailbox__interior {
  position: absolute;
  background-image: linear-gradient(to right, #d3374e 0% 47%, #da4453 47% 100%);
  width: 81%;
  height: 62%;
  right: 0;
  border-radius: 22% 22% 0% 0% / 30% 30% 0% 0%;  
}

.mailbox__exterior {
  position: absolute;
  z-index: 3;
  left: 57%;
  background-color: #ed5565;
  width: 36%;
  height: 62%;
  border-radius: 0% 30% 0% 0% / 0% 30% 0% 0% 
}

.mailbox__exterior::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 30%;
  background-color: #ed5565;
}

.mailbox__exterior::after {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 30%;
  background-color: #d3374e;
  border-radius: 0% 100% 0% 0% / 0% 100% 0% 0%;
}

.mailbox__flag {
  position: absolute;
  z-index: 4;
  height: 40%;
  width: 14%;
  left: 65%;
  bottom: 65%;
  transform-origin: 30% 89%;
  transition: transform .2s ease-out;
  transform: rotate(90deg);
}

.contact__info:hover + .contact__img > .mailbox > .mailbox__flag,
.mailbox.open .mailbox__flag {
  transform: rotate(0deg);
  transition: transform .3s .2s cubic-bezier(0,1.04,.22,1.25);;
}

.mailbox__flag__circle {
  position: absolute;
  z-index: 5;
  background-color: #ffce54;
  width: 60%;
  aspect-ratio: 1/1;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}

.mailbox__flag__flag {
  position: absolute;
  z-index: 5;
  background-color: #ffce54;
  width: 100%;
  height: 25%;
  top: 0;
}

.mailbox__flag__beam {
  position: absolute;
  z-index: 4;
  bottom: 10%;
  content: '';
  width: 25%;
  height: 90%;
  background-color: #f5ba42;
}

.mailbox__post {
  position: absolute;
  width: 10%;
  height: 38%;
  background-image: linear-gradient(to right, #965353 0% 50%, #844747 50% 100%);
  bottom: 0;
  left: 57%;
}

.mailbox__door {
  position: absolute;
  z-index: 4;
  border-radius: 45% 45% 0% 0% / 30% 30% 0% 0%;
  background-color: hsl(354, 81%, 68%);
  width: 38%;
  height: 62%;
  right: 43%;
  bottom: 38%;
  // outline: .5em solid #da4453;
  // outline-offset: -1em;
  transition: background-color .2s ease-out, transform .2s ease-out, height .2s ease-out, width .2s ease-out, border-radius .2s cubic-bezier(0,1,0,1);
  transform-origin: bottom;
}
.mailbox__door::after {
  content: '';
  position: absolute;
  width: 85%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 45% 45% 0% 0% / 30% 30% 0% 0%;
  box-shadow: 0 0 0 .4em #da4453;
  transition: box-shadow .2s ease-out;
}

.mailbox__door p {
  font-family: 'Square Peg';
  position: absolute;
  top: 35%;
  left: 45%;
  font-size: 5em;
  transform: translate(-50%) rotateY(-20deg);
  color: #eee;
  text-shadow: .02em .02em $offBlack;
}

.contact__info:hover + .contact__img > .mailbox > .mailbox__door,
.mailbox.open .mailbox__door {
  height: 6%;
  width: 50%;
  background-color: #ed5565;
  border-radius: 100vmax 0 0 100vmax;
  outline: 3px solid transparent;
  bottom: 38%;
}

.contact__info:hover + .contact__img > .mailbox > .mailbox__door::after,
.mailbox.open .mailbox__door::after {
  box-shadow: 0em 0em 0em transparent;
}

.contact__info:hover + .contact__img > .mailbox > .mailbox__door p,
.mailbox.open .mailbox__door p {
  transform: rotateX(90deg) translateX(-1em) translateZ(.5em);
}

.mailbox__letter {
  position: absolute;
  z-index: 2;
  width: 30%;
  height: 27%;
  background-color: #f6bb42;
  top: 30%;
  left: 60%;
  overflow: hidden;
  transition: left .2s ease-out, width .2s ease-out;
}

.mailbox__letter::before {
  content: '';
  position: absolute;
  background-color: #ffce54;
  width: 100%;
  height: 130%;
  bottom: 63%;
  left: 9%;
  transform: rotate(-35deg) skewX(20deg);
  box-shadow: 0px 2px 4px #e8b445;
}

.contact__info:hover + .contact__img > .mailbox > .mailbox__letter,
.mailbox.open .mailbox__letter {
  width: 45%;
  left: 15%;
  transition: left .2s .1s ease-out, width .2s .1s ease-out;
}