@media (max-width: 455px) {
  .contact {
    &__info {
      flex-basis: 70%;
      &__link p {
      font-size: 0.9rem;
      }
    }
    &__img {
      flex-basis: 30%;
    }
  }
}

@media (min-width: $tablet) {
  .nav {
    position: absolute;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    &__list {
      background-color: unset;
      margin-top: 1rem;
      display: flex;
      flex-direction: row;
      transform: none;
      &__link {
        padding: 1rem min(2vw, 1.5rem);
      }
    }
  }
  .burger__menu {
    display: none;
  }  
}

@media (min-width: 539px) {
  header {
    .wrapper {
      width: 80%;
    }
  }
  .intro {
    flex-direction: row;
    align-items: flex-end;
    &__name {
      font-size: clamp(2.5rem, 15vw, 8rem);
    }
    &__text {
      text-align: right;
      margin-bottom: 5vw;
      span {
        display: block;
      }
    }
    &__letter {
      font-size: clamp(2.5rem, 17vw, 8rem);
    }
  }
}

@media (min-width: $desktop) {
  .about {
    .wrapper {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 90%;
    }
    &__text {
      order: 1;
      flex-basis: 40%;
      // width: 30%;
    }
    &__avatar {
      order: 2;
      flex-basis: 40%;
      // width: 30%;
      align-self: center;
    }
  }
  .works {
    &__tool {
      flex-basis: 20%;
      &__python {
        display: flex;
      }
    }
  }
  .contact {
    .wrapper {
      justify-content: flex-end;
    }
    &__body {
      margin-bottom: 5rem;
    }
  }
}