.projects {
  background-color: $offBlack;
  color: $offWhite;
  overflow: hidden;
  padding: 1rem 0 5rem;
  h2 {
    text-align: center;
    font-family: $bowlby;
    font-size: clamp(2rem, 8vw, 5rem);
    color: $sandyYellow;
    letter-spacing: .3rem;
    margin-bottom: 5rem;
  }
  .wrapper {
    width: 85%;
    max-width: 1080px;
  }
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  &__text {
    &__1 {
      animation: 1s project__text__1 ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--aboutScroll) * -.7s);
    }
    &__2 {
      animation: 1s project__text__2 ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--aboutScroll) * -.7s);
    }
    &__3 {
      transform: translateX(20vw);
      filter: blur(3px);
      opacity: 0;
      animation: 1s project__text__3 ease-in forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--projectsScroll) * -.7s);
    }
    &__4 {
      transform: translateX(20vw);
      filter: blur(3px);
      opacity: 0;
      animation: 1s project__text__4 ease-in forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--projectsScroll) * -.7s);
    }
  }
  &__img {
    position: relative;
    height: 100%;
    width: 35%;
    &__mockup {
      position: relative;
      z-index: 21;
      &__1 {
        animation: 1s project__1 ease-out forwards;
        animation-play-state: paused;
        animation-delay: calc(var(--aboutScroll) * -.7s);
      }
      &__2 {
        animation: 1s project__2 ease-out forwards;
        animation-play-state: paused;
        animation-delay: calc(var(--aboutScroll) * -.7s);
      }
      &__3 {
        transform: translateX(-50vw);
        animation: 1s project__3 ease-in forwards;
        animation-play-state: paused;
        animation-delay: calc(var(--projectsScroll) * -.7s);  
      }
      &__4 {
        transform: translateX(50vw);
        animation: 1s project__4 ease-in forwards;
        animation-play-state: paused;
        animation-delay: calc(var(--projectsScroll) * -.7s);  
      }
    }
    &__shadow {
      position: absolute;
      z-index: 20;
      filter: blur(3px);
      &__1 {
        transform: translateX(-50vw) translateY(-94%);
        animation: 1s project__shadow__1 ease-out forwards;
        animation-play-state: paused;
        animation-delay: calc(var(--aboutScroll) * -.7s);
      }
      &__2 {
        transform: translateX(50vw) translateY(-97%);
        animation: 1s project__shadow__2 ease-out forwards;
        animation-play-state: paused;
        animation-delay: calc(var(--aboutScroll) * -.7s);
      }
      &__3 {
        transform: translateX(-50vw) translateY(-94%);
        animation: 1s project__shadow__3 ease-in forwards;
        animation-play-state: paused;
        animation-delay: calc(var(--projectsScroll) * -.7s);
      }
      &__4 {
        transform: translateX(50vw) translateY(-97%);
        animation: 1s project__shadow__4 ease-in forwards;
        animation-play-state: paused;
        animation-delay: calc(var(--projectsScroll) * -.7s);
      }
    }
  }
  &__text {
    flex-basis: 60%;
  }
}