.projects {
  background-color: $offBlack;
  color: $offWhite;
  .wrapper {
    width: 85%;
    max-width: 1080px;
  }
  &__heading {
    margin: 3rem auto;
    text-align: center;
    font-family: $bowlby;
    font-size: clamp(2rem, 8vw, 5rem);
    color: $sandyYellow;
    letter-spacing: 0.3rem;
  }
}

.project {
  margin: 4rem 0;
  &__img {
    // max-width: 800px;
    margin-bottom: 1rem;
  }
  &__text {
    width: 90%;
    margin: 0 auto;
    &__heading {
      font-size: clamp(1.2rem, 5vw, 2rem);
      font-family: $bowlby;
      color: $sandyYellow;
      letter-spacing: 0.05rem;
    }
    &__description {
      margin: .7rem 0;
      font-size: clamp(0.8rem, 2vw, 1rem);
    }
  }
  &__stack {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.3rem;
    &__list {
      display: flex;
      gap: 0.5rem;
    }
  }
  &__links {
    display: flex;
    gap: 0.5rem;
  }
  &__link {
    position: relative;
    color: $sandierYellow;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $sandierYellow;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}