$bowlby: 'Bowlby One', cursive;
$josefin: 'Josefin Sans', sans-serif;

$darkPurple: #3C2189;
$steelPink: hsl(296, 81%, 60%);
$lightLilac: #F5C4F9;
$offWhite: #EEE;
$offBlack: #292a32;
$sandyYellow: #ffef71;

$tablet: 481px;
$desktop: 769px;