.work {
  height: 200vh;
  background: $offBlack;
  position: relative;
  &__scroll {
    position: absolute;
    top: 50%;
    width: 1px;
    height: 1px;
  }
  &__container {
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
  }
  .wrapper {
    position: relative;
    width: 80%;
    max-width: 800px;
    height: 100vh;
  }
  &__heading {
    z-index: 11;
    text-align: center;
    font-family: $bowlby;
    font-size: clamp(2.5rem, 15vw, 8rem);
    color: $offBlack;
  }
  &__word {
    position: absolute;
    color: $sandyYellow;
    font-family: $josefin;
    transform: translateX(-50%) translateY(-50%);
    &__how {
      top: 10%;
      left: 20%;
      transform: rotateZ(-10deg);
    }
    &__I {
      top: 10%;
      left: 70%;
      transform: rotateZ(10deg);
    }
    &__do {
      top: 35%;
      left: 25%;
      transform: rotateZ(10deg);
    }
    &__my {
      top: 35%;
      left: 55%;
      transform: rotateZ(-10deg);
    }
  }
  &__letter {
    position: absolute;
    z-index: 12;
    transform: translateX(-50%) translateY(-50%);
    &__W {
      top: 35%;
      left: -80%;
      animation: 1s work__letter__W ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--workScroll) * -1s);
    }
    &__O {
      color: transparent;
    }
    &__R {
      top: -30%;
      left: 60%;
      animation: 1s work__letter__R ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--workScroll) * -1s);
    }
    &__K {
      top: 35%;
      left: 115%;
      animation: 1s work__letter__K ease-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--workScroll) * -1s);
    }
  }
  &__circle {
    border-radius: 50%;
    position: absolute;
    top: 34.8%;
    left: 41%;
    transform: translateX(-50%) translateY(-50%);
    &__1 {
      background-color: $sandyYellow;
      animation: 1s work__circle__1 ease-in-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--workScroll) * -1s);
    }
    &__2 {
      background-color: $offBlack;
      transform: translateX(-50%) translateY(-50%);
      animation: 1s work__circle__2 ease-in-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--workScroll) * -1s);
    }
    &__3 {
      background-color: $sandyYellow;
      transform: translateX(-50%) translateY(-50%);
      animation: 1s work__circle__3 ease-in-out forwards;
      animation-play-state: paused;
      animation-delay: calc(var(--workScroll) * -1s);
      border-radius: 45% 45% 45% 45% / 42% 42% 42% 42%;
    }
  }
  &__tools {
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: $offBlack;
    flex-wrap: wrap;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: 1s work__tools ease-out forwards;
    animation-play-state: paused;
    animation-delay: calc(var(--workScroll) * -1s);
  }
  &__tool {
    position: relative;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    z-index: 20;
    transition: color .3s ease-out;
    i {
      font-size: 3rem;
    }
    p {
      margin-top: .5rem;
    }
    &__html5:hover {
      color: #e54d26;
    }
    &__css3:hover {
      color: #3d8fc6;
    }
    &__javascript:hover {
      color: #bda71c;
    }
    &__git:hover {
      color: #f34f29;
    }
    &__react:hover {
      color: #61dafb;
    }
    &__jquery:hover {
      color: #0769ad;
    }
    &__firebase:hover {
      color: #f58220;
    }
    &__sass:hover {
      color: #cc6699;
    }
    &__gimp:hover {
      color: #716955;
    }
    &__python:hover {
      color: #3470a1;
    }
    &__python {
      display: none;
    }
  }
}

@keyframes work__tools {
  100% {
    top: 65%;
  }
}