@keyframes work__circle__1 {
  0% {
    width: 0vw;
    height: 0vw;
  }

  60%,
  100% {
    width: max(200vw, 200vh);
    height: max(200vw, 200vh);
  }
}

@keyframes work__circle__2 {
  0%,
  15% {
    width: 0vw;
    height: 0vw;
  }

  70%,
  100% {
    width: clamp(2rem, 11.5vw, 6.5rem);
    height: clamp(2rem, 11.5vw, 6.5rem);
  }
}

@keyframes work__circle__3 {
  0%,
  60% {
    width: 0vw;
    height: 0vw;
  }

  90%,
  100% {
    width: min(3vw, 2rem);
    height: min(6vw, 4rem);
  }
}

@keyframes work__letter__W {
  100% {
    left: 20%;
  }
}

@keyframes work__letter__R {
  100% {
    top: 35%;
  }
}

@keyframes work__letter__K {
  100% {
    left: 80%;
  }
}
