html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  text-rendering: optimizeLegibility;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: -1.9px;
}

h1 {
  font-size: clamp(2rem, 6vw, 3rem);
}

p {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5112b0), to(#8b52e0));
  background-image: linear-gradient(#5112b0, #8b52e0);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .wrapper {
  width: 70%;
  max-width: 800px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro__avatar {
  position: relative;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  margin-bottom: 8vw;
  border-radius: 50%;
}
.intro__image {
  -webkit-animation: 0.7s grow 0.5s ease-out forwards;
          animation: 0.7s grow 0.5s ease-out forwards;
  opacity: 0;
}
.intro__name {
  font-family: "Bowlby One", cursive;
  font-size: clamp(2.5rem, 21vw, 8rem);
  line-height: 1;
  color: #DC28E9;
  position: absolute;
  z-index: 1;
}
.intro__name__A1 {
  --x: 35deg;
  --y: -10deg;
  display: block;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  left: -5%;
  -webkit-animation: 0.3s grow 1s ease-out forwards;
          animation: 0.3s grow 1s ease-out forwards;
  text-shadow: 1px 1px #EB7FF3, 2px 2px #EB7FF3, 3px 3px #EB7FF3, 4px 4px #EB7FF3, 5px 5px #EB7FF3, 6px 6px #EB7FF3, 7px 7px #EB7FF3;
}
.intro__name__D {
  --x: -20deg;
  --y: -30deg;
  right: -10%;
  top: 20%;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-animation: 0.3s grow 1.2s ease-out forwards;
          animation: 0.3s grow 1.2s ease-out forwards;
  text-shadow: -1px 1px #EB7FF3, -2px 2px #EB7FF3, -3px 3px #EB7FF3, -4px 4px #EB7FF3, -5px 5px #EB7FF3, -6px 6px #EB7FF3, -7px 7px #EB7FF3;
}
.intro__name__A2 {
  --x: -35deg;
  --y: -20deg;
  bottom: 10%;
  left: 5%;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-animation: 0.3s grow 1.4s ease-out forwards;
          animation: 0.3s grow 1.4s ease-out forwards;
  text-shadow: 1px -1px #EB7FF3, 2px -2px #EB7FF3, 3px -3px #EB7FF3, 4px -4px #EB7FF3, 5px -5px #EB7FF3, 6px -6px #EB7FF3, 7px -7px #EB7FF3;
}
.intro__name__M {
  --x: 30deg;
  --y: -20deg;
  bottom: -10%;
  right: 10%;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-animation: 0.3s grow 1.6s ease-out forwards;
          animation: 0.3s grow 1.6s ease-out forwards;
  text-shadow: -1px -1px #EB7FF3, -2px -2px #EB7FF3, -3px -3px #EB7FF3, -4px -4px #EB7FF3, -5px -5px #EB7FF3, -6px -6px #EB7FF3, -7px -7px #EB7FF3;
}
.intro__text {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  opacity: 0;
  color: white;
  text-align: center;
  -webkit-animation: 1s slide-right 1.8s ease-out forwards;
          animation: 1s slide-right 1.8s ease-out forwards;
}
.intro__text p {
  color: #f09df6;
}
.intro__text span {
  display: block;
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1, 1) rotateX(var(--x)) rotateY(var(--y));
            transform: scale(1, 1) rotateX(var(--x)) rotateY(var(--y));
    opacity: 1;
  }
}

@keyframes grow {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1, 1) rotateX(var(--x)) rotateY(var(--y));
            transform: scale(1, 1) rotateX(var(--x)) rotateY(var(--y));
    opacity: 1;
  }
}
@-webkit-keyframes slide-right {
  from {
    -webkit-transform: translate(-3rem);
            transform: translate(-3rem);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}
@keyframes slide-right {
  from {
    -webkit-transform: translate(-3rem);
            transform: translate(-3rem);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}
@media (min-width: 500px) {
  header .wrapper {
    width: 80%;
  }

  .intro {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .intro__name {
    font-size: clamp(2.5rem, 15vw, 8rem);
  }
  .intro__name__A1 {
    text-shadow: 1px 1px #EB7FF3, 2px 2px #EB7FF3, 3px 3px #EB7FF3, 4px 4px #EB7FF3, 5px 5px #EB7FF3, 6px 6px #EB7FF3, 7px 7px #EB7FF3;
  }
  .intro__text {
    text-align: right;
    margin-bottom: 5vw;
  }
}