html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  text-rendering: optimizeLegibility;
  font-family: "Josefin Sans", sans-serif;
  color: #EEE;
}

h1 {
  font-size: clamp(2rem, 6vw, 3rem);
}

p {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, p {
  margin: 0;
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    scale: 0;
  }
  to {
    -webkit-transform: scale(1, 1) translateZ(10px);
            transform: scale(1, 1) translateZ(10px);
    scale: 1;
    opacity: 1;
  }
}

@keyframes grow {
  from {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    scale: 0;
  }
  to {
    -webkit-transform: scale(1, 1) translateZ(10px);
            transform: scale(1, 1) translateZ(10px);
    scale: 1;
    opacity: 1;
  }
}
@-webkit-keyframes slide-right {
  from {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-right {
  from {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-up {
  from {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-to-black {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 0 100%;
  }
}
@keyframes fade-to-black {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 0 100%;
  }
}
@-webkit-keyframes about__A {
  0%, 15% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    scale: 0;
  }
  50%, 75% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    scale: 1;
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(-150%) rotateZ(90deg);
            transform: scale(1, 1) translateY(-150%) rotateZ(90deg);
    scale: 1;
  }
}
@keyframes about__A {
  0%, 15% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    scale: 0;
  }
  50%, 75% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    scale: 1;
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(-150%) rotateZ(90deg);
            transform: scale(1, 1) translateY(-150%) rotateZ(90deg);
    scale: 1;
  }
}
@-webkit-keyframes about__B {
  0%, 15% {
    -webkit-transform: translateX(var(--translateX));
            transform: translateX(var(--translateX));
  }
  60%, 79% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(-150%) rotateZ(-60deg);
            transform: translateX(0) translateY(-150%) rotateZ(-60deg);
  }
}
@keyframes about__B {
  0%, 15% {
    -webkit-transform: translateX(var(--translateX));
            transform: translateX(var(--translateX));
  }
  60%, 79% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(-150%) rotateZ(-60deg);
            transform: translateX(0) translateY(-150%) rotateZ(-60deg);
  }
}
@-webkit-keyframes about__O {
  0%, 15% {
    -webkit-transform: translateX(var(--translateX));
            transform: translateX(var(--translateX));
  }
  60%, 83% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(-150%) rotateZ(60deg);
            transform: translateX(0) translateY(-150%) rotateZ(60deg);
  }
}
@keyframes about__O {
  0%, 15% {
    -webkit-transform: translateX(var(--translateX));
            transform: translateX(var(--translateX));
  }
  60%, 83% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(-150%) rotateZ(60deg);
            transform: translateX(0) translateY(-150%) rotateZ(60deg);
  }
}
@-webkit-keyframes about__U {
  0%, 15% {
    opacity: 0;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  60%, 87% {
    opacity: 1;
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    rotateY: 360deg;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(360deg) translateY(-150%) translateZ(100px) rotateZ(-70deg);
            transform: rotateY(360deg) translateY(-150%) translateZ(100px) rotateZ(-70deg);
  }
}
@keyframes about__U {
  0%, 15% {
    opacity: 0;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  60%, 87% {
    opacity: 1;
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    rotateY: 360deg;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(360deg) translateY(-150%) translateZ(100px) rotateZ(-70deg);
            transform: rotateY(360deg) translateY(-150%) translateZ(100px) rotateZ(-70deg);
  }
}
@-webkit-keyframes about__T {
  0%, 25% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    scale: 0;
  }
  60%, 91% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    scale: 1;
  }
  100% {
    -webkit-transform: perspective(300px) scale(1, 1) translateY(-150%) rotateX(60deg);
            transform: perspective(300px) scale(1, 1) translateY(-150%) rotateX(60deg);
    scale: 1;
  }
}
@keyframes about__T {
  0%, 25% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    scale: 0;
  }
  60%, 91% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    scale: 1;
  }
  100% {
    -webkit-transform: perspective(300px) scale(1, 1) translateY(-150%) rotateX(60deg);
            transform: perspective(300px) scale(1, 1) translateY(-150%) rotateX(60deg);
    scale: 1;
  }
}
@-webkit-keyframes about__image {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  15%, 85% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg) scale(0);
            transform: rotate(180deg) scale(0);
  }
}
@keyframes about__image {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  15%, 85% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg) scale(0);
            transform: rotate(180deg) scale(0);
  }
}
@-webkit-keyframes about__background {
  0%, 30% {
    inset: 0;
  }
  70% {
    background-color: #3C2189;
  }
  75% {
    inset: 49.5% 0 50% 0;
    background-color: #EEE;
  }
  78% {
    background-color: #EEE;
    inset: 49%;
  }
  80%, 100% {
    inset: 50%;
  }
}
@keyframes about__background {
  0%, 30% {
    inset: 0;
  }
  70% {
    background-color: #3C2189;
  }
  75% {
    inset: 49.5% 0 50% 0;
    background-color: #EEE;
  }
  78% {
    background-color: #EEE;
    inset: 49%;
  }
  80%, 100% {
    inset: 50%;
  }
}
@-webkit-keyframes about__text {
  0%, 20% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  70%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes about__text {
  0%, 20% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  70%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes works__circle__1 {
  0% {
    width: 0vw;
    height: 0vw;
  }
  60%, 100% {
    width: max(200vw, 200vh);
    height: max(200vw, 200vh);
  }
}
@keyframes works__circle__1 {
  0% {
    width: 0vw;
    height: 0vw;
  }
  60%, 100% {
    width: max(200vw, 200vh);
    height: max(200vw, 200vh);
  }
}
@-webkit-keyframes works__circle__2 {
  0%, 15% {
    width: 0vw;
    height: 0vw;
  }
  70%, 100% {
    width: clamp(2rem, 11.5vw, 7rem);
    height: clamp(2rem, 11.5vw, 7rem);
  }
}
@keyframes works__circle__2 {
  0%, 15% {
    width: 0vw;
    height: 0vw;
  }
  70%, 100% {
    width: clamp(2rem, 11.5vw, 7rem);
    height: clamp(2rem, 11.5vw, 7rem);
  }
}
@-webkit-keyframes works__circle__3 {
  0%, 60% {
    width: 0vw;
    height: 0vw;
  }
  90%, 100% {
    width: min(3vw, 2rem);
    height: min(6vw, 4rem);
  }
}
@keyframes works__circle__3 {
  0%, 60% {
    width: 0vw;
    height: 0vw;
  }
  90%, 100% {
    width: min(3vw, 2rem);
    height: min(6vw, 4rem);
  }
}
@-webkit-keyframes works__letter__W {
  100% {
    left: 20%;
  }
}
@keyframes works__letter__W {
  100% {
    left: 20%;
  }
}
@-webkit-keyframes works__letter__R {
  100% {
    top: 35%;
  }
}
@keyframes works__letter__R {
  100% {
    top: 35%;
  }
}
@-webkit-keyframes works__letter__K {
  100% {
    left: 80%;
  }
}
@keyframes works__letter__K {
  100% {
    left: 80%;
  }
}
header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#66136C), to(#3C2189));
  background-image: linear-gradient(#66136C, #3C2189);
  min-height: 101vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .wrapper {
  width: 70%;
  max-width: 800px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro__avatar {
  position: relative;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  margin-bottom: 8vw;
  border-radius: 50%;
}
.intro__image {
  -webkit-animation: 0.7s grow 0.5s ease-out forwards;
          animation: 0.7s grow 0.5s ease-out forwards;
  opacity: 0;
}
.intro__name {
  font-family: "Bowlby One", cursive;
  font-size: clamp(2.5rem, 21vw, 8rem);
  line-height: 1;
  color: #DC28E9;
  position: absolute;
  z-index: 5;
}
.intro__name__A1 {
  display: block;
  --x: 35deg;
  --y: -10deg;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  left: -5%;
  -webkit-animation: 0.5s grow 1s ease-out forwards;
          animation: 0.5s grow 1s ease-out forwards;
}
.intro__name__D {
  --x: -20deg;
  --y: -30deg;
  right: -10%;
  top: 20%;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-animation: 0.5s grow 1.2s ease-out forwards;
          animation: 0.5s grow 1.2s ease-out forwards;
}
.intro__name__A2 {
  --x: -35deg;
  --y: -20deg;
  bottom: 10%;
  left: 5%;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-animation: 0.5s grow 1.4s ease-out forwards;
          animation: 0.5s grow 1.4s ease-out forwards;
}
.intro__name__M {
  --x: 30deg;
  --y: -20deg;
  bottom: -10%;
  right: 10%;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-animation: 0.5s grow 1.6s ease-out forwards;
          animation: 0.5s grow 1.6s ease-out forwards;
}
.intro__text {
  margin-top: 1rem;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  color: white;
  text-align: center;
  letter-spacing: -2px;
}
.intro__text h1 {
  opacity: 0;
  -webkit-animation: 1s slide-right 2s ease-out forwards;
          animation: 1s slide-right 2s ease-out forwards;
}
.intro__text p {
  opacity: 0;
  margin-top: clamp(0.5rem, 1.5vw, 1.5rem);
  color: #F5C4F9;
  -webkit-animation: 0.7s slide-up 2.3s ease-out forwards;
          animation: 0.7s slide-up 2.3s ease-out forwards;
}
.intro__text span {
  display: unset;
}

.fa-circle-chevron-down {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #DC28E9;
  font-size: 2rem;
  -webkit-animation: 1s chevron-bounce ease-in-out alternate infinite;
          animation: 1s chevron-bounce ease-in-out alternate infinite;
}

@-webkit-keyframes chevron-bounce {
  100% {
    -webkit-transform: translate3d(-20px, -10px, 0);
            transform: translate3d(-20px, -10px, 0);
  }
}

@keyframes chevron-bounce {
  100% {
    -webkit-transform: translate3d(-20px, -10px, 0);
            transform: translate3d(-20px, -10px, 0);
  }
}
.about {
  height: 300vh;
  background: #292a32;
  min-height: 100vh;
  position: relative;
}
.about__scroll {
  position: absolute;
  top: 50%;
  width: 1px;
  height: 1px;
}
.about__container {
  width: 100%;
  top: 0;
  position: sticky;
  overflow: hidden;
}
.about .wrapper {
  max-width: 1080px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__avatar {
  position: relative;
  width: 45%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #DC28E9;
  z-index: 1;
}
.about__image {
  position: relative;
  -webkit-animation: 1s about__image 1s ease-out forwards;
          animation: 1s about__image 1s ease-out forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--aboutScroll) * -0.8s);
          animation-delay: calc(var(--aboutScroll) * -0.8s);
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  z-index: 0;
}
.about__span {
  font-family: "Bowlby One", cursive;
  font-size: clamp(1rem, 18vw, 8rem);
  position: absolute;
  z-index: 1;
}
.about__span__A {
  top: -25%;
  left: -15%;
  -webkit-animation: 1s about__A ease-out forwards;
          animation: 1s about__A ease-out forwards;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--aboutScroll) * -0.8s);
          animation-delay: calc(var(--aboutScroll) * -0.8s);
}
.about__span__B {
  --translateX: 30vw;
  top: -9%;
  right: -7%;
  -webkit-transform: translateX(var(--translateX));
          transform: translateX(var(--translateX));
  -webkit-animation: 1s about__B ease-out forwards;
          animation: 1s about__B ease-out forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--aboutScroll) * -0.8s);
          animation-delay: calc(var(--aboutScroll) * -0.8s);
}
.about__span__O {
  --translateX: -70vw;
  top: 25%;
  left: -18%;
  -webkit-transform: translateX(var(--translateX));
          transform: translateX(var(--translateX));
  -webkit-animation: 1s about__O ease-out forwards;
          animation: 1s about__O ease-out forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--aboutScroll) * -0.8s);
          animation-delay: calc(var(--aboutScroll) * -0.8s);
}
.about__span__U {
  right: -15%;
  bottom: 10%;
  opacity: 0;
  -webkit-animation: 1s about__U cubic-bezier(0.55, 0.46, 0, 1.37) forwards;
          animation: 1s about__U cubic-bezier(0.55, 0.46, 0, 1.37) forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--aboutScroll) * -0.8s);
          animation-delay: calc(var(--aboutScroll) * -0.8s);
}
.about__span__T {
  -webkit-transform: scale(0);
          transform: scale(0);
  bottom: -27%;
  left: 40%;
  -webkit-animation: 1s about__T ease-out forwards;
          animation: 1s about__T ease-out forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--aboutScroll) * -0.8s);
          animation-delay: calc(var(--aboutScroll) * -0.8s);
}
.about__background {
  position: absolute;
  inset: 0;
  background-color: #3C2189;
  -webkit-animation: 1s about__background ease-in-out forwards;
          animation: 1s about__background ease-in-out forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--aboutScroll) * -1s);
          animation-delay: calc(var(--aboutScroll) * -1s);
}
.about__text {
  margin: 30px 0;
  text-align: left;
  width: 65%;
  opacity: 0;
  z-index: 1;
  -webkit-animation: 1s about__text ease-out forwards;
          animation: 1s about__text ease-out forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--aboutScroll) * -1s);
          animation-delay: calc(var(--aboutScroll) * -1s);
}

.works {
  height: 200vh;
  background: #292a32;
  position: relative;
}
.works__scroll {
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 1px;
}
.works__heading-container {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
}
.works .wrapper {
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 100vh;
}
.works__heading {
  z-index: 11;
  text-align: center;
  font-family: "Bowlby One", cursive;
  font-size: clamp(2.5rem, 15vw, 8rem);
  color: #292a32;
}
.works__word {
  position: absolute;
  color: #ffef71;
  font-family: "Josefin Sans", sans-serif;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.works__word__how {
  top: 10%;
  left: 10%;
  -webkit-transform: rotateZ(-10deg);
          transform: rotateZ(-10deg);
}
.works__word__I {
  top: 10%;
  left: 80%;
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
}
.works__word__do {
  top: 35%;
  left: 15%;
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
}
.works__word__my {
  top: 35%;
  left: 65%;
  -webkit-transform: rotateZ(-10deg);
          transform: rotateZ(-10deg);
}
.works__letter {
  position: absolute;
  z-index: 12;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.works__letter__W {
  top: 35%;
  left: -80%;
  -webkit-animation: 1s works__letter__W ease-out forwards;
          animation: 1s works__letter__W ease-out forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--worksScroll) * -1s);
          animation-delay: calc(var(--worksScroll) * -1s);
}
.works__letter__O {
  color: transparent;
}
.works__letter__R {
  top: -30%;
  left: 60%;
  -webkit-animation: 1s works__letter__R ease-out forwards;
          animation: 1s works__letter__R ease-out forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--worksScroll) * -1s);
          animation-delay: calc(var(--worksScroll) * -1s);
}
.works__letter__K {
  top: 35%;
  left: 115%;
  -webkit-animation: 1s works__letter__K ease-out forwards;
          animation: 1s works__letter__K ease-out forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--worksScroll) * -1s);
          animation-delay: calc(var(--worksScroll) * -1s);
}
.works__circle {
  border-radius: 50%;
  position: absolute;
  top: 34.8%;
  left: 41%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.works__circle__1 {
  background-color: #ffef71;
  -webkit-animation: 1s works__circle__1 ease-in-out forwards;
          animation: 1s works__circle__1 ease-in-out forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--worksScroll) * -1s);
          animation-delay: calc(var(--worksScroll) * -1s);
}
.works__circle__2 {
  background-color: #292a32;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-animation: 1s works__circle__2 ease-in-out forwards;
          animation: 1s works__circle__2 ease-in-out forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--worksScroll) * -1s);
          animation-delay: calc(var(--worksScroll) * -1s);
}
.works__circle__3 {
  background-color: #ffef71;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-animation: 1s works__circle__3 ease-in-out forwards;
          animation: 1s works__circle__3 ease-in-out forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--worksScroll) * -1s);
          animation-delay: calc(var(--worksScroll) * -1s);
  border-radius: 45% 45% 45% 45%/42% 42% 42% 42%;
}
.works__tools {
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #292a32;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-animation: 1s work__tools ease-out forwards;
          animation: 1s work__tools ease-out forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--worksScroll) * -1s);
          animation-delay: calc(var(--worksScroll) * -1s);
}
.works__tool {
  position: relative;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  z-index: 20;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.works__tool i {
  font-size: clamp(3rem, 10vw, 5rem);
}
.works__tool p {
  margin-top: 0.5rem;
}
.works__tool__html5:hover {
  color: #e54d26;
}
.works__tool__css3:hover {
  color: #3d8fc6;
}
.works__tool__javascript:hover {
  color: #bda71c;
}
.works__tool__git:hover {
  color: #f34f29;
}
.works__tool__react:hover {
  color: #61dafb;
}
.works__tool__jquery:hover {
  color: #0769ad;
}
.works__tool__firebase:hover {
  color: #f58220;
}
.works__tool__sass:hover {
  color: #cc6699;
}
.works__tool__gimp:hover {
  color: #716955;
}
.works__tool__python:hover {
  color: #3470a1;
}
.works__tool__python {
  display: none;
}

.works__tool__ .work:hover {
  color: #cc6699;
}

@-webkit-keyframes work__tools {
  100% {
    top: 65%;
  }
}

@keyframes work__tools {
  100% {
    top: 65%;
  }
}
@media (min-width: 500px) {
  header .wrapper {
    width: 80%;
  }

  .intro {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .intro__name {
    font-size: clamp(2.5rem, 15vw, 8rem);
  }
  .intro__text {
    text-align: right;
    margin-bottom: 5vw;
  }
  .intro__text span {
    display: block;
  }
}
@media (min-width: 769px) {
  .about .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  .about__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .about__avatar {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .works__tool {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .works__tool__python {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}